BOT_TOKEN=
BOT_USERNAME=
WEBHOOK_SECRET=
PUBLIC_URL=
PORT=10000
MINI_APP_PATH=/app
DOCS_PATH=/docs
MUSIC_API_BASE=https://raihan07-musicapi.vercel.app
COOLDOWN_MS=3000
MAX_CONCURRENT_DOWNLOADS=3
MAX_AUDIO_MB=20
SYNC_BOT_PROFILE=true
